[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = tcp://m8.iotaledger.net:15600 udp://iotatoken.nl:14600 tcp://m0.iotaledger.net:16100 tcp://m2.iotaledger.net:16100 udp://node1.puyuma.org:14265 udp://iota.oyra.eu:14600 udp://nyplex.duckdns.org:14600 udp://208.115.104.143:14600 udp://iota.felixseele.de:14600 tcp://hashpower.duckdns.org:15600
IXI_DIR = ixi
HEADLESS = true
DEBUG = true
