[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = udp://blueseraph.zapto.org:14600 udp://47.90.209.140:14600 udp://node2.iota.tips:14600 udp://iotafirst.zapto.org:14600 udp://beta.lkj.it:14700 udp://iota.preissler.me:14600 udp://kevin.geekgalaxy.com:14600
IXI_DIR = ixi
HEADLESS = true
DEBUG = false
