[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = udp://m10.iotaledger.net:15100 udp://iota.lukaseder.de:14600 tcp://node.deviceproof.org:15600 tcp://iota02.3203.info:14700 tcp://79.143.181.215:14800 tcp://82.165.163.114:15600 tcp://node.neffware.com:15600
IXI_DIR = ixi
HEADLESS = true
DEBUG = false
ZMQ_ENABLED = true
