[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = tcp://m8.iotaledger.net:15600 tcp://m0.iotaledger.net:16100 tcp://m2.iotaledger.net:16100 tcp://n1.iota.nu:15777 tcp://iota.mineral.software:15600 tcp://iotanode1.louie.lu:18750 tcp://iotanode2.louie.lu:18750 tcp://node0.puyuma.org:15600 tcp://vps320546.ovh.net:14700 tcp://nicobee.de:15600 tcp://45.63.88.120:15600 tcp://iotamn-sea1.bourg.net:15600
IXI_DIR = ixi
HEADLESS = true
DEBUG = false
ZMQ_ENABLED = true
